# Variables

In [ ]:
A variable is just a reference to a value.

In [ ]:
How to assign the variable to a value?

syntax

variableName = value

Rules for creating variableNames:
1. The first character of a variable can either be an alphabet of upper case (A-Z), or an alphabet of lower case (a-z), or it can either be a underscore ( _ ) 
2. All the characters of the variable apart from the first character, can either be an alphabet of upper case (A-Z), or an alphabet of lower case (a-z), or it can either be a underscore ( _ ), or it can even be a digit character (0-9)
3. The variableName cannot contain any space within it. Also it cannot contain any special characters(!,@,#,$,%,^,&,*) within it.
4. The variableName cannot be the same as any keywords(if,else,bool,elif,return,pass,etc) defined in python.
5. Variable Names are case sensitive

In [1]:
abc= 30

In [4]:
abc

30

In [5]:
_xyz=40

In [6]:
_xyz

40

In [ ]:
How to assign the variable to a value?

syntax

variableName = value

Rules for creating variableNames:
1. The first character of a variable can either be an alphabet of upper case (A-Z), or an alphabet of lower case (a-z), or it can either be a underscore ( _ ) 
2. All the characters of the variable apart from the first character, can either be an alphabet of upper case (A-Z), or an alphabet of lower case (a-z), or it can either be a underscore ( _ ), or it can even be a digit character (0-9)
3. The variableName cannot contain any space within it. Also it cannot contain any special characters(!,@,#,$,%,^,&,*) within it.
4. The variableName cannot be the same as any keywords(if,else,bool,elif,return,pass,etc) defined in python.
5. Variable Names are case sensitive

In [7]:
007Bond= 70

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-7-2e62ce6f24c1>, line 1)

In [8]:
Bond007 = 80

In [9]:
Bond007

80

In [10]:
Rohit Sharma = 260

SyntaxError: invalid syntax (<ipython-input-10-48ad0dc9169b>, line 1)

In [11]:
Dollar$=72

SyntaxError: invalid syntax (<ipython-input-11-7f164d6c47c4>, line 1)

In [ ]:
It is not necessary to assign a variable to a value

In [ ]:
If you do not assign a variable to a value
1) That value will get printed automatically
2) That value will get deleted automatically

In [12]:
73

73

# Values

# Types of Values

# 1. Integer

In [ ]:
Integer is a number that does not any decimal values

In [13]:
a=70

In [14]:
type(a)

int

In [15]:
b = -40

In [16]:
type(b)

int

In [17]:
c= 0

In [18]:
type(c)

int

# 2. Float

In [ ]:
Float is a number with decimal values

In [19]:
d= 40.9

In [20]:
type(d)

float

In [21]:
e= -30.0

In [22]:
type(e)

float

In [23]:
f= 0.00

In [24]:
type(f)

float

# 3. String

A string is a collection of characters(anything that I can type on the keyboard). Inorder to tell python , that we have a collection of charcaters, we need to surround the collection of characters with single quotes or double quotes.

In [25]:
h="sadfjihsdjifsdf"

In [26]:
type(h)

str

In [27]:
g="123"

In [28]:
type(g)

str

In [29]:
i="sdfiusf8932894324"

In [30]:
type(i)

str

In [31]:
j='Rohit'

In [32]:
type(j)

str

# 4. Boolean

Boolean values can only be True or False. But, we have to make sure that the first character of the boolean value needs to be capital, and all the other characters need to be small-case

In [33]:
k=true

NameError: name 'true' is not defined

In [34]:
k=True

In [35]:
type(k)

bool

In [36]:
x=false

NameError: name 'false' is not defined

In [37]:
x=False

In [38]:
type(x)

bool

In [39]:
a=10

In [40]:
a=20

In [41]:
a

20

# 3. Type Conversion

# Integer to other types

In [42]:
a=5

In [43]:
type(a)

int

In [ ]:
Conversion to float:
1. Convert the number to a real number
2. Convert the real number to a number with decimals

In [47]:
a

5

In [48]:
float(a)

5.0

In [ ]:
Conversion to String:
Surround the value with quotes

In [49]:
a

5

In [50]:
str(a)

'5'

In [51]:
a

5

In [52]:
bool(a)

True

In [53]:
b=-30

In [ ]:
Conversion to float:
1. Convert the number to a real number
2. Convert the real number to a number with decimals

In [54]:
float(b)

-30.0

In [55]:
b

-30

In [ ]:
Conversion to String:
Surround the value with quotes

In [56]:
str(b)

'-30'

In [57]:
b

-30

In [58]:
bool(b)

True

In [59]:
c=0

In [60]:
type(c)

int

In [61]:
c

0

In [ ]:
Conversion to float:
1. Convert the number to a real number
2. Convert the real number to a number with decimals

In [62]:
float(c)

0.0

In [63]:
c

0

In [ ]:
Conversion to String:
Surround the value with quotes

In [64]:
str(c)

'0'

In [65]:
c

0

In [66]:
bool(c)

False

# Float to other types

In [67]:
d=40.9

In [68]:
int(d)

40

In [69]:
d

40.9

In [ ]:
Conversion to String:
Surround the value with quotes

In [70]:
str(d)

'40.9'

In [71]:
d

40.9

In [72]:
bool(d)

True

In [74]:
e=-30.4

In [75]:
type(e)

float

In [76]:
e

-30.4

In [77]:
int(e)

-30

In [78]:
e

-30.4

In [ ]:
Conversion to String:
Surround the value with quotes

In [79]:
str(e)

'-30.4'

In [80]:
e

-30.4

In [81]:
bool(e)

True

In [82]:
f=0.00

In [83]:
type(f)

float

In [84]:
f

0.0

In [85]:
int(f)

0

In [86]:
f

0.0

In [ ]:
Conversion to String:
Surround the value with quotes

In [87]:
str(f)

'0.0'

In [88]:
f

0.0

In [89]:
bool(f)

False

# String to other types

In [90]:
g="Rohit"

In [92]:
type(g)

str

In [ ]:
Conversion from string to integer:
Remove the quotes

In [93]:
int(g)

ValueError: invalid literal for int() with base 10: 'Rohit'

In [94]:
g

'Rohit'

 Conversion to float:
1. Convert the value to a real number
2. Convert the real number to a number with decimals

In [95]:
float(g)

ValueError: could not convert string to float: 'Rohit'

In [96]:
g

'Rohit'

In [99]:
len(g)

5

In [97]:
bool(g)

True

In [98]:
j=''

In [100]:
len(j)

0

In [101]:
j

''

In [ ]:
Conversion from string to integer:
Remove the quotes

In [102]:
int(j)

ValueError: invalid literal for int() with base 10: ''

In [103]:
j

''

In [ ]:
 Conversion to float:
1. Convert the value to a real number
2. Convert the real number to a number with decimals

In [104]:
float(j)

ValueError: could not convert string to float: ''

In [105]:
j

''

In [106]:
bool(j)

False

In [107]:
k="123"

In [108]:
type(k)

str

In [ ]:
Conversion from string to integer:
Remove the quotes

In [109]:
int(k)

123

In [110]:
k

'123'

In [ ]:
 Conversion to float:
1. Convert the value to a real number
2. Convert the real number to a number with decimals

In [111]:
float(k)

123.0

In [112]:
k

'123'

In [113]:
bool(k)

True

In [114]:
l="20.9"

In [ ]:
Conversion from string to integer:
Remove the quotes

In [115]:
int(l)

ValueError: invalid literal for int() with base 10: '20.9'

In [116]:
l

'20.9'

In [ ]:
 Conversion to float:
1. Convert the value to a real number
2. Convert the real number to a number with decimals

In [117]:
float(l)

20.9

In [118]:
l

'20.9'

In [119]:
bool(l)

True

In [122]:
b="True"

In [123]:
type(b)

str

In [124]:
b

'True'

In [ ]:
Conversion from string to integer:
Remove the quotes

In [125]:
int(b)

ValueError: invalid literal for int() with base 10: 'True'

In [126]:
b

'True'

In [ ]:
 Conversion to float:
1. Convert the value to a real number
2. Convert the real number to a number with decimals

In [127]:
float(b)

ValueError: could not convert string to float: 'True'

In [128]:
b

'True'

In [129]:
bool(b)

True

# Boolean to other types

In [130]:
a=True

In [131]:
type(a)

bool

In [132]:
a

True

In [133]:
int(a)

1

In [134]:
a

True

In [ ]:
 Conversion to float:
1. Convert the value to a real number
2. Convert the real number to a number with decimals

In [135]:
float(a)

1.0

In [136]:
a

True

In [ ]:
Conversion to String:
Surround the value with quotes

In [137]:
str(a)

'True'

In [138]:
b=False

In [139]:
type(b)

bool

In [140]:
int(b)

0

In [141]:
b

False

In [ ]:
 Conversion to float:
1. Convert the value to a real number
2. Convert the real number to a number with decimals

In [142]:
float(b)

0.0

In [143]:
b

False

In [ ]:
Conversion to String:
Surround the value with quotes

In [144]:
str(b)

'False'